<hr />
<h2>Environment Data</h2>
<h3>Page Data</h3>
 <span style="width: 30ex; font-weight: bold;">Name </span> -- {{ page.name }} <br/>
 <span style="width: 30ex; font-weight: bold;">Title </span> -- {{ page.title }} <br/>
 <span style="width: 30ex; font-weight: bold;">Id </span> -- {{ page.id }} <br/>
 <span style="width: 30ex; font-weight: bold;">Date </span> -- {{ page.date }} <br/>
 <span style="width: 30ex; font-weight: bold;">Url </span> -- {{ page.url }} <br/>
 <span style="width: 30ex; font-weight: bold;">Dir </span> -- {{ page.dir }} <br/>
 <span style="width: 30ex; font-weight: bold;">Collection </span> -- {{ page.collection }} <br/>
 <span style="width: 30ex; font-weight: bold;">Path </span> -- {{ page.path }} <br/>
 <span style="width: 30ex; font-weight: bold;">Next </span> -- {{ page.next }} <br/>
 <span style="width: 30ex; font-weight: bold;">Previous </span> -- {{ page.previous }} <br/>
 <span style="width: 30ex; font-weight: bold;">Tags </span> -- {{ page.tags }} <br/>
 <span style="width: 30ex; font-weight: bold;">Categories </span> -- {{ page.categories }} <br/>
 <span style="width: 30ex; font-weight: bold;">Excerpt</span> -- {{ page.excerpt }} <br/>
<hr />
