<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

{% include _nav.html %}

<div class="container" style="margin-top:30px">
    {{ content }}
</div>

{% include _footer.html %}

{{ page.date }}


<h3>Getting Started 2</h3>
<ul>
    {% for doc in site.pages %}
        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
</ul>

<h3>Getting Started 3</h3>
<ul>

    {% for coll in site.collections %}
        <li>{{ coll.label }} </li>
    {% endfor %}
</ul>

<h3>Getting Started 4</h3>
<ul>
    {% for coll in site.collections %}
        <li>C {{ coll.label }} 
          <ul>
            {% for p in coll %}
                <li><a href="{{ p.url }}">P {{ p.title }} {{ p.name }} x</a></li>
            {% endfor %}
          </ul>
        </li>
    {% endfor %}
</ul>
<h3>Getting Started 10</h3>
<ul>

  {% for p in site.ada %}
    <li><a href="{{ p.url }}">{{ p.title }} -- {{ p.name }} -- {{ p.position }}</a></li>
  {% endfor %}
</ul>


<h3>Getting Started 5</h3>
<ul>

    {% for p in site.pages %}
        <li><a href="{{ p.url }}"> {{ p.name }} </a></li>
    {% endfor %}
</ul>

<h3>Getting Started 7</h3>
<ul>

{% for p in site.books %}
    <a href="{{ p.url }}">
      {{ p.title }} 
    </a>
{% endfor %}

</ul>


<h3>Getting Started 11</h3>
<ul>

{% for p in site.documents %}
    <a href="{{ p.url }}">
      {{ p.title }}
    </a>
{% endfor %}

</ul>

{% include _environment.html %}

</body>
</html>
